[2014-05-18 22:16] brettcannon opened #1 "Keep indentation"
When I'm editing blocks of text -- especially with Sphinx docs -- it's annoying that the indentation isn't kept, leading to me having to re-indent after every newline instead of un-indenting when I'm finally done.

[2014-05-20 17:17] rgbkrk opened #3 "Highlight code blocks using the language chosen"
Steal liberally from [atom/language-gfm](https://github.com/atom/language-gfm) to do syntax highlighting within code blocks for RestructuredText.

[code]

[2014-05-20 19:22] #3 closed, assigned to nobody

[2014-05-20 22:40] #1 closed, assigned to nobody

[2014-07-24 20:00] AusIV opened #5 "Section snippets don't work as expected"
When I use the section snippets, I type `sec`, hit tab and then see:

    subsection name
    ${1/(.)|\s/(?1:=:=)/g}

If I continue typing, it replaces "subsection name" with what I type as expected, but the second line just looks like a regular expression.

[2015-02-05 11:23] e2jk commented on #5
I was trying to figure out how to have this regex "executed" to create the appropriate underline, looking for documentation on how this should work. But looking at this bug report, I understand this is not supposed to work ;)

I would suggest replacing these regexes by fixed-sized underlines for now, and later investigate if there is a mechanism to dynamically adjust the length. This would prevent

[2015-02-05 11:36] e2jk opened #7 "Dynamic-size underline for section snippets"
Follow up on #5:

Commit 7897d5b7983e862185179e739fe9e838db5a79ac replaced the non-working regexes with fixed-size underline, rendering these snippets more useful in the short term. However, ideally we would like to have the underlines be generated dynamically: the number of underline characters should be the same as the section name's length.

That would likely require a post-snippet-editing mech

[2015-02-06 00:43] #5 closed

[2015-03-02 23:41] alex opened #8 "Doesn't handle tags with periods in them"
This was fixed upstream in: https://github.com/textmate/restructuredtext.tmbundle/commit/608d8bcdea179d4bf3def6244e0d9cf7705f2fea

Not sure how you want to handle porting that commit in.

[2015-03-02 23:42] alex commented on #8
It looks like it should be straightforward to make the same change at https://github.com/Lukasa/language-restructuredtext/blob/master/grammars%2Frestructuredtext.cson#L612, but I'm not sure if there's some special procedure for including changes made upstream.

[2015-03-03 09:53] Lukasa commented on #8
Thanks @alex, I'll chase this when I get back from work tonight.

[2015-03-03 20:28] Lukasa commented on #8
Resolved. =) 0.3.0 is out and should contain this fix.

[2015-03-03 20:29] #8 closed

[2015-03-03 20:29] alex commented on #8
<3 thanks.

On Tue, Mar 3, 2015 at 12:29 PM, Cory Benfield <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2015-03-29 12:54] hbrls opened #9 "Would you attach a screenshot of how does it look like?"
I'm from Sublime and I'm looking for some equivalent highlighter of this:

![sblime](https://cloud.githubusercontent.com/assets/1220476/6885514/518af2c4-d655-11e4-8eba-443d69beb775.png)

But when I open the same file in Atom, I got this:

![atom](https://cloud.githubusercontent.com/assets/1220476/6885519/aa2dc79e-d655-11e4-989a-a02f89934ec5.png)

I'm not sure if I did something wrong. Would you pl

[2015-03-29 13:31] Lukasa commented on #9
With Atom, the effectiveness of the highlighting depends on the theme you're using. Basically the language parsing plugin attaches certain names to blocks, which the theme can then choose to highlight or not. Try switching through various themes on your machine and see how they affect the appearance.

I agree that the reStructuredText package is not ideal at this: right now it was basically conver

[2015-03-29 13:48] hbrls commented on #9
After switching between themes and the dev view, I think I know the conventions behind. Though I might not be able to say it with the Atom terms.

What's your suggestion then? To modify the class names in this repo? Or to create some additional css to my desired theme following the current class names?

[2015-03-29 13:53] Lukasa commented on #9
Either would work, but I'll happily merge pull requests that improve the way the theming looks in most of the Atom themes (particularly the defaults).

[2015-03-29 14:06] hbrls commented on #9
OK. I will take a look at the official [Markdown](https://github.com/atom/language-gfm) first and make a decision. It looks good with my themes at hand.

[2015-04-03 14:45] hbrls opened #11 "2 letter word can not be italic"
![screen shot](https://cloud.githubusercontent.com/assets/1220476/6983635/c3e6d652-da52-11e4-99bd-1f830e826cdb.png)

3 and more letters are fine. Chinese characters meet the same issue.

2 letter bold is fine.

[2015-04-03 16:03] Lukasa commented on #11
It looks like, for no adequately explainable reason, the grammar is slightly different for bold and italic.

Bold:

[code]

Italic:

[code]

It is hard to see why the italics regex is not: `'(\\*)[^*]+(\\*)'`.

[2015-04-03 16:05] Lukasa commented on #11
If I make that change the italics problem does appear to be fixed.

[2015-04-03 16:07] Lukasa commented on #11
@hbrls Care to test the branch in #12 for me, and confirm that it both fixes the problem and doesn't unexpectedly break any of the rest of your rendering?

[2015-04-04 15:05] hbrls commented on #11
@Lukasa Was the behavior correct in TextMate?

ps, I'll  be able to test that after the holiday. I'm still having other issues, maybe I'll make a test case for human eyes first.

[2015-04-04 18:28] Lukasa commented on #11
I suspect the answer is no, but I never used TextMate so I'm frankly unsure.

[2015-04-05 20:06] Luthaf opened #13 "Directives with domains names are not parsed correctly"
Directives with domains like theses:
[code]
are parsed and highlighted as comments.

The same issue seems to appears with the Github highlighting:
[code]

[2015-04-06 21:53] #11 closed

[2015-04-07 19:57] alex opened #15 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-08 00:38] Lukasa commented on #15
=P Looks like I'll need to work out how the hell Atom wants me to do this stuff now.

[2015-04-21 12:58] sigihuber opened #16 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-21 20:13] Lukasa commented on #16
Should be resolved in v0.5.0.

[2015-04-21 20:13] #16 closed

[2015-04-21 20:13] Lukasa commented on #15
Should be resolved in v0.5.0.

[2015-04-21 20:13] #15 closed

[2015-05-18 10:47] Yajo opened #17 "Failure when using * to start a bullet list and * or ** again to set italic/bold text"
I think this screenshot will show you what I mean:

![captura de pantalla de 2015-05-18 12 46 09](https://cloud.githubusercontent.com/assets/973709/7679327/e91cade4-fd5b-11e4-9b3b-ba4f29f8835a.png)

As you can see, the \* for the bullet list is confused with those of text formatting.

[2015-05-18 17:14] Lukasa commented on #17
Good spot.

Right now this grammar doesn't actually do *anything* for bulleted lists in the grammar. I'm not instantly sure how to resolve this, I'll have a think.

[2015-05-18 17:41] Lukasa commented on #17
So right now I'm getting the impression that this is one of those issues that's tricky to solve with regular expressions, and they're a good example of how many markup formats are not regular languages.

Given the inferiority of regular expressions in this instance, I'm going to do the best I can, and forbid that the character immediately after a `*` be whitespace. Ideally I'd have some other logi

[2015-05-18 17:43] Lukasa commented on #17
Resolved in 0.6.0. Thanks for the report! :cake: :sparkles:

[2015-05-18 17:43] #17 closed

[2015-05-19 07:52] Yajo commented on #17
It does the trick. Sometimes the simplest solution is the right one ;)

[2015-07-15 11:09] Yajo opened #18 "Footer links with / are taken as comment start"
The `/` character in `yajo/sass` causes the following highlight:

![captura de pantalla de 2015-07-15 13-06-05](https://cloud.githubusercontent.com/assets/973709/8697099/8fb7c620-2af2-11e5-8404-9bf8f1689172.png)

[2015-07-15 16:16] Lukasa commented on #18
Thanks for the report! I believe I've fixed this problem in the 0.7.0 release: please update and confirm the fix. =)

[2015-07-16 07:11] Yajo commented on #18
Fixed.

[2015-07-16 07:11] #18 closed

[2015-07-16 08:01] Lukasa commented on #18
\o/ Thanks for the report @Yajo!

[2015-07-16 08:02] Yajo commented on #18
To you for fixing :wink:

[2015-09-07 14:52] idleberg opened #19 "Snippets not working"
When I type snippets (e.g. the default `image` or `link`), they will not be completed. From Sublime Text I'm used that you have to explicitly enable snippets for the text scope, but since HTML snippets work in Atom, I don't suspect that's the case. Any idea why they don't work?

[2015-09-07 14:59] Lukasa commented on #19
Ah, sorry, looks like the selector got out of step and so Atom wasn't detecting the snippets properly. I've just released 0.8.0 that should fix that problem. Thanks for the report! :cake:

[2015-09-07 14:59] #19 closed

[2015-09-07 15:10] idleberg commented on #19
That was quick, thank you 👍

[2015-09-07 16:22] idleberg opened #20 "Choice of scope"
I was wondering what made you choose `.gfm.restructuredtext` as scope name. If reStructuredText was GFM-based (GitHub Flavoured Markdown), the natural choice would be `.source.gfm.restructuredtext`. Since it isn't, I'd suggest using `.text.restructuredtext` instead (maybe `.source.restructuredtext`). Your scope name works, it's just that it seems an odd choice.

See this comparison of [Sublime Tex

[2015-09-07 16:37] Lukasa commented on #20
We did it to pretend to be GFM, as seen [here](https://github.com/Lukasa/language-restructuredtext/pull/10). I'm open to changing the scope: would you like to open a PR?

[2015-09-07 18:33] idleberg commented on #20
I don't really understand @hbrls arguments for using `.gfm.restructuredtext`.John Gruber isn't planning any updates on Markdown and it looks like the future will be the [CommonMark](http://commonmark.org/) implementation. Anyway, I don't think there's a real chance of Markdown adapting rst-Syntax, since IMHO the latter isn't anywhere as readable as Markdown. Hence, I don't think `.source.gfm.restr

[2015-09-08 02:17] hbrls commented on #20
@idleberg It's because most themes support GFM, not rst. It's a hack.

[2015-09-08 07:34] Lukasa commented on #20
Correct: the goal is to get better theme highlighting.

[2015-10-06 08:55] raphiz opened #22 "Syntax Highlighting won't stop in indented blocks"
I stumbled over this issue when I tied to use a code block inside a glossary block.
This compiles just fine with sphinx - but the atom language grammar keeps the syntax highlighting to that language until the next line that begins with no indent.

![012](https://cloud.githubusercontent.com/assets/605630/10304064/10926a64-6c18-11e5-9683-d95b392cbd25.png)

Same issue when just using indented blocks:

[2015-10-06 09:08] Lukasa commented on #22
Hmm, the grammar might not be restrictive enough here. Let me take a look.

[2015-10-06 09:17] Lukasa commented on #22
Hmm, a quick reading of the regex seems to suggest that the block should stop marking when dedented back to the level of the `..`.  Let me dig further.

[2015-10-06 09:23] Lukasa commented on #22
Ah, no, nevermind, I see it. It looks like that regex could never have matched an indented block. Hmm.

[2015-10-06 09:27] Lukasa commented on #22
@raphiz Can you try the code in #23 and confirm it solves your problem (and more importantly, doesn't introduce new ones)?

[2015-10-06 10:48] raphiz commented on #22
Yay, thanks for the quick response!
The code from #23 seems to work just fine for the glossary!
However, there is still something going wrong when using just indent blocks...

[code]
![013](https://cloud.githubusercontent.com/assets/605630/10306593/72b571f4-6c28-11e5-8ce8-da94cacb64e0.png)

I tried out some other test cases - there everything seems to work fine!

[2015-10-08 11:06] Lukasa commented on #22
Hmm, weird. I'll try and take another look this afternoon. Regexes make me sad. :disappointed:

[2015-11-10 14:57] hbrls commented on #9
#10

[2015-11-10 14:57] #9 closed

[2015-11-18 22:41] alustig3 opened #24 "multiline comment [feature request]"
It would nice to have the ability to highlight multiple lines and then press <kbd>alt</kbd> + <kbd>/</kbd> to add a `.. ` at the beginning of each line that is highlighted

[2015-11-19 08:06] Lukasa commented on #24
That sounds entirely reasonable, @alustig3. Do you think you'll have the ability to submit a pull request for this?

[2015-11-19 18:14] alustig3 commented on #24
It turns out snippets are not working right now either. I believe 2bef6ea is the cause of the problem. Going back to  223cc14 fixes both problems so multiline comments and snippets both work as expected.

[2015-11-19 19:12] Lukasa commented on #24
Resolved by #26, fix available in 0.10.0. Thanks again @alustig3! :sparkles: :cake: :sparkles:

[2015-11-19 19:12] #24 closed

[2015-11-24 16:46] peterjc opened #27 "Standalone URL highlighting stops at first underscore"
e.g. Opening this file https://github.com/peterjc/galaxy_blast/blob/2c44d9e2346b18ebb0046121dbb44e4189a6d6ff/README.rst in Atom with default settings the URLs are in purple, however, there is a problem when there is an underscore in the URL, e.g.

[code]

Here only ``http://toolshed.g2.bx.psu.edu/view/devteam/ncbi`` is purple, with ``_blast_plus/`` in normal text color. Likewise with the other URL

[2015-11-24 18:23] Lukasa commented on #27
Hmm, looks like Atom broke this in an upgrade at some point. I can't see this in the language definitions for reStructuredText at all, which makes sense: I wonder if this is internal Atom highlighting?

[2015-11-24 20:03] peterjc commented on #27
I was puzzled too when I looked at the RST code - so the URL pattern is defined in Atom itself then?

[2015-11-24 21:09] Lukasa commented on #27
I think so: it would explain why this is so closely tied to Atom version.

[2015-11-24 23:30] peterjc commented on #27
You're right - I can reproduce this in the base install of Atom 1.2.4 using (for example) Github Markup. I therefore think this is a problem in the bundled ``language-hyperlink`` package, see https://github.com/atom/language-hyperlink/issues/7

[2015-11-25 07:02] Lukasa commented on #27
Thanks @peterjc!

[2015-11-25 07:02] #27 closed

[2015-12-03 12:42] saladoc opened #28 "Method references in Java Code Blocks break highlighting"
Everything after a java code block containing a method reference is highlighted as if it were java code.

Example of breaking code block:
[code]

[2015-12-03 12:48] Lukasa commented on #28
Sorry, @saladoc, to be clear: you're claiming that once you *terminate* that code-block the highlighting continues? Could you provide a more complete sample?

[2015-12-03 15:11] saladoc commented on #28
@Lukasa exactly. Have a screenshot.
![Screenshot](http://i.imgur.com/UHTpDp5.png)

Formatting on the paragraphs after the code block is back to normal if I remove the method reference.

[2015-12-03 15:12] Lukasa commented on #28
So I think this is a duplicate of #22, so I'll close this to focus there.

I haven't had time to look at this particular issue in a while, so if you're interested in a debugging challenge it'd be interesting to see why the highlighting doesn't stop at the end of the block.

[2015-12-03 15:12] #28 closed

[2015-12-03 15:37] saladoc commented on #28
I would gladly if I had the slightest idea about coffeescript and how to debug it. I'll just wait for a solution and keep you updated if I find out more that may be used to pinpoint that bug.

I no longer believe that it is a bug with the language-restructuredtext package, as I just reproduced it with markdown as well. Also the bug only occurs if a constructor reference is used. `SomeObject::new`

[2015-12-10 14:10] bilderbuchi opened #29 "Link snippet starts with newline, lacks space."
If I add a link in running text using the snippet, e.g. `My homepage is at lin<Tab>`, there are several issues. First, the snippet starts with a newline, so it autofills to
[code]
which does not look like it's desired.

Second, there is no space between `Title` and `<`, which apparently is illegal link markup, so when I fill out the link with `bar<Tab>foo.com`, my Sphinx complains with ` ERROR: Un

[2015-12-10 14:45] Lukasa commented on #29
Thanks for the report!

Yeah, both of those are hilariously wrong. I've just pushed 0.11.0 which should fix this. Thanks! :sparkles: :cake: :sparkles:

[2015-12-10 14:45] #29 closed

[2015-12-10 14:51] bilderbuchi commented on #29
hah, great! awesome response time, thanks!

[2015-12-10 14:52] Lukasa commented on #29
;) My pleasure! You caught me in-between sessions of sitting with my head in my hands weeping softly about flow control and backpressure, so this was light relief in comparison. You have a great day now!

[2015-12-10 14:53] bilderbuchi commented on #29
ah, nice. process engineer or something?

[2015-12-10 14:54] Lukasa commented on #29
Networks: right now specifically HTTP/2 and Python.

[2015-12-10 14:55] bilderbuchi commented on #29
ah ^^. you had me thinking about [these](http://www.bronkhorst.com/en/products/gas_flow_meters_and_controllers/).

[2015-12-10 14:57] Lukasa commented on #29
Heh, flow control and back pressure are terms deliberately intended to be analogous to fluid flow.

[2016-01-10 02:26] brettcannon opened #30 "Incomplete support for section underlines"
According to http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#sections the complete list is `! " # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~`. The recommended list is `= - ` : . ' " ~ ^ _ * + #`. Unfortunately the support in the package doesn't fully cover the recommended list, let alone the complete list. It would be great if support for at least the recommended

[2016-01-10 10:51] Lukasa commented on #30
Seems reasonable to me! Want to open a PR with the change @brettcannon?

[2016-01-10 18:29] brettcannon commented on #30
PR is untested, but it should add all of the recommended symbols for section underlines.

[2016-01-13 18:25] Dowwie opened #32 "python code blocks are mishandled by the restructuredtext package"
your atom package is marking embedded Python blocks as full Python code (source.python) instead of embedded Python (source.embedded.python)

if you were to open this rst from within Atom:
https://raw.githubusercontent.com/YosaiProject/yosai/master/doc/authorization.rst

scopes at cursor at line 127 shows the following:
text.restructuredtext source.gfm.restructuredtext
meta.paragraph.restructuredte

[2016-01-13 18:51] Lukasa commented on #32
Thanks for spotting this! I've just pushed out 0.12.0, which should resolve the problem. =)

[2016-01-13 18:51] #32 closed

[2016-01-13 20:51] Arcanemagus commented on #32
Thanks for fixing this! Didn't want to see this become another https://github.com/atom/language-gfm/issues/121 :stuck_out_tongue:.

[2016-01-14 18:42] Dowwie commented on #32
thanks to both of you for all the open source goodness

[2016-01-14 18:47] Dowwie commented on #32
@Lukasa  Not sure you fixed the issue.  What do you see in atom for this file, line 126?  In my atom editor, it is complaining about my dash underlining:  https://raw.githubusercontent.com/YosaiProject/yosai/master/doc/authorization.rst

[2016-01-14 19:04] Dowwie opened #33 "not so fast, @lukasa! need to re-open this issue:"
https://github.com/Lukasa/language-restructuredtext/issues/32

[2016-01-15 08:45] Lukasa commented on #32
So I think the problem here is related to #22 and #28, which last I checked were believed to be problems with Atom itself, not with language-restructuredtext. In this case the effect you're seeing is that the syntax highlighting for the code block is not being properly terminated.

[2016-01-15 08:45] #33 closed

[2016-01-15 18:43] Dowwie commented on #32
raised an issue with Atom core : https://github.com/atom/atom/issues/10436

[2016-01-24 06:24] plaindocs opened #34 "Add rst / rest to the description in Atom"
I first searched for rst in atom, and the plugin is not shown. Might be useful to add rest / rst to the description to make it easier to find.

[2016-01-24 10:42] Lukasa commented on #34
Good idea, we should do this.

[2016-02-26 08:42] fiziko opened #35 "autocompletion"
Hi,

autocompletion does not work for me, when your package is active.

That is, it does work if I type "le..." for example - but not for anything else...

Any help?

![screenshot](https://cloud.githubusercontent.com/assets/5688765/13347301/2e55362e-dc6d-11e5-859c-a5092ea26f68.png)

[2016-02-26 09:02] Lukasa commented on #35
So, does `image<tab>` not work?

[2016-02-26 09:30] fiziko commented on #35
Hi, sorry, image<tab> works fine. But I want also completion for unspecific words -- for anything that has already been typed in this buffer before (or in other buffers).

Not only completion of "keywords", but also completion for "anything already appearing anywhere else"...

[2016-02-26 09:33] Lukasa commented on #35
Oh I see. It's not clear to me how this package could possibly affect that.

[2016-02-26 09:38] fiziko commented on #35
But it does, I think. Because, for me, in other grammars/languages autocompletion works just fine...

Any idea to whom this might be clear of how to find out?

[2016-02-26 09:38] Lukasa commented on #35
I think you'd have to get someone who knows Atom very deeply to take a look.

[2016-02-26 18:16] fiziko commented on #35
Hi, thanks Lukasa, Maybe you are right. But I guess, it would also have been possible to track down the error. Anyway - just forget about it. Not so important. I will try to find a workaround. Thanks for your help anyway. Regards, Sven

[2016-04-04 08:23] wismill opened #36 "Escaping mechanism does not work for *, **, |"
Hi, according to the [escaping mechanism](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#escaping-mechanism) of reStructuredText, the following text should not be highlighted:

[code]

[2016-04-04 08:39] Lukasa commented on #36
Yup, you're absolutely right.

A quick sample paragraph suggests the main problem is with `*` and `|`. Most of the other regexes fail to match if backslashes are present.

[2016-04-04 09:22] Lukasa commented on #36
Resolved in v0.13.

[2016-04-04 09:22] #36 closed

[2016-04-04 09:22] Lukasa commented on #36
Thanks for the report! :sparkles: :cake: :sparkles:

[2016-04-04 09:41] wismill commented on #36
That was fast! Thanks

[2016-04-20 10:20] henri-hulski opened #37 "Not able to set tab length to 2 if main settings are different"
In my main settings I have a tab length of 4.
In reStructuredText I want a tab length of 2 which is actually the default.
But when I enter a tab length of 2 or also when I enter nothing it got changed to 4.
Other values are excepted.
I think this is the case, because 2 is the default value which gets overridden by the main settings.

[2016-04-20 15:56] Lukasa commented on #37
I don't think that this package actually sets a tab width anywhere. Are you sure it's this one?

[2016-04-20 16:37] henri-hulski commented on #37
Yes.
Go to settings in main settings set tab length to 4.
Then go to packages -> language-restructuredtext and here you can also set the tab length. If the field is empty there is written default: 2.
When you enter now 2 it changes immediately to 4.
When you make it empty  it also changes to 4.

[2016-04-20 16:41] Lukasa commented on #37
Right, but what I'm saying is that there is literally no change to the settings in this module. None. It's left entirely at the defaults. So if your Atom is exhibiting this problem it's surely a problem with Atom, not this module.

[2016-04-20 17:13] henri-hulski commented on #37
But I can set it to any other value like 3 or 5.

[2016-04-20 17:19] Lukasa commented on #37
To be clear, I'm not disputing that the problem exists. I just don't see how it can possibly be this module. Feel free to look through its code, there isn't much.

[2016-04-20 17:44] henri-hulski commented on #37
Yeah it seems to be a bug with the language implementation of atom 1.7.
In language-html I had the same situation but there it worked. I was setting it up in atom 1.6.
Now I changed it and had the same behavior.
And I'm not able to set it up again.

So no problem with this module ;-)

[2016-04-20 17:44] #37 closed

[2016-04-20 17:56] henri-hulski commented on #37
The same with Atomic 1.8 beta.
So I think I have to put an issue there.

[2016-04-30 09:05] remexre commented on #22
Is there any progress on this? Working with Lisp means code blocks have unmatched 's and `s, which do interesting things to the syntax highlighting for the rest of the file...

[2016-04-30 09:28] Lukasa commented on #22
No progress so far I'm afraid, I'd welcome some investigation!

[2016-05-24 08:10] Alhadis commented on #22
[Fixed.](https://github.com/Lukasa/language-restructuredtext/pull/38)

[2016-05-24 08:51] #22 closed

[2016-06-03 12:23] Alhadis commented on #13
@Luthaf This is easily fixed. =) Could you tell me more about these directives, and what they're supposed to look like?

(I've only recently gotten into reStructuredText, so I'm still learning about the language. Loving it a whole lot more than Markdown)

[2016-06-03 12:51] Alhadis commented on #35
I'm wondering if this is the culprit:

<img src="https://cloud.githubusercontent.com/assets/2346707/15779021/3be1b516-29dd-11e6-909f-ec75b9942075.png" />

Note the blacklist's default setting: `.source.gfm`. Recall that this package is also using `.source.gfm` (this was brought up in #20).

[2016-06-03 12:53] Alhadis commented on #20
No, Idleberg's right. It needs to be specific: scope-names are used for a variety of things across Atom's APIs, not just styling. For instance, snippets, shortcuts/commands, autocomplete, and numerous other things can be tailored to affect certain languages only by reading their scopes.

Furthermore, themes shouldn't be targeting specific languages for colours, but the [scope names](http://manual.

[2016-06-03 13:00] Luthaf commented on #13
These are directives for documenting functions/classes/... inside a specific [sphinx domain](http://www.sphinx-doc.org/en/stable/domains.html) (Python, C++, ...). They should look like other directives, like the `.. code::` one.

[2016-06-03 13:05] Alhadis commented on #13
I'll work on it right now. =) Merci!

(I speak French better than Python, it would seem...)

[2016-06-03 14:38] Alhadis commented on #13
... okay, this might take a while. This entire grammar needs to be, uhm, restructured.

[2016-06-03 15:39] Lukasa commented on #35
Heh, that's entirely possible as a problem.

[2016-06-03 15:54] Alhadis commented on #35
I'm in the middle of... uh, reStructuring the entire grammar. Part of the matching problems I'm seeing (particularly with tables and substitution references) are to do with pattern ordering as much as their scope.

I've changed the scope to the original value of `text.restructuredtext`. When this is done, I'll look into having this grammar used to supply syntax highlighting on GitHub, which will a

[2016-06-04 20:13] #13 closed

[2016-06-04 20:13] #20 closed

[2016-06-04 20:13] #30 closed

[2016-06-04 20:13] #34 closed

[2016-06-04 20:13] #35 closed

[2016-06-06 12:00] Luthaf commented on #13
\o/ Thanks!

[2016-06-10 16:32] amoshyc opened #42 "After updating to 0.16, the syntax highlighting color of sections disappear."
The color of the section part used to be green, but changing to white after updating to 0.16.
Is it the intended result?

See the window on the left.
![screenshot from 2016-06-11 00-19-36](https://cloud.githubusercontent.com/assets/3981689/15971024/3c0ca74c-2efd-11e6-812b-22e51901915e.png)

Window on the right is how markdown code was rendered and it is what I'm expecting.

Another screenshot
![sc

[2016-06-10 16:34] lzkelley opened #43 "markdown-preview stops working after installing language-restructuredtext"
Is there a way to let these two packages work together to preview `.rst` files?

Thanks

**Atom Version**: 1.9.0-beta0
**System**: Mac OS X 10.11.2

### Config

[code]

### Installed Packages

[code]

[2016-06-11 13:25] Lukasa commented on #42
Do you have screenshots of the prior rendering?

@Alhadis, you may find this interesting.

[2016-06-11 13:26] Lukasa commented on #43
Uh...as far as I know, markdown preview only works for markdown files. Was that not historically true? Did it used to be able to preview restructuredtext as well?

[2016-06-11 13:32] Alhadis commented on #42
@amoshyc Can you tell us what themes you're using, and what the syntax looked like beforehand?

I'm also not sure what the Markdown file has to do with this... it's a completely different language.

[2016-06-11 13:36] Alhadis commented on #43
Markdown preview shouldn't be able to preview reStructuredText files at all. Any attempt to do so would treat the `.rst` file as though it were an `.md` file.

[2016-06-11 15:42] amoshyc commented on #42
I'm sorry I don't have screenshots of the prior rendering.
The screenshot of the markdown file in my previous comment demonstrates what I'm expecting and it is the syntax color rst used to be. (Color of the headers is green)

I'm using [`monokai`](https://atom.io/themes/monokai) with ui theme `atom dark`.

[2016-06-11 16:03] Alhadis commented on #42
Okay, the "green" parts you're referring to are actually commented-out sections. That's the expected result.

When you say "headers", what are you referring to? The `=================` parts?

[2016-06-11 16:08] amoshyc commented on #42
Yes.
[code]

[2016-06-11 16:34] Alhadis commented on #42
Ah, [this is](https://github.com/kevinsawicki/monokai/blob/master/index.less#L48) probably why you were seeing it. Monokai applies Markdown-specific styling, and the theme was previously pretending to be Markdown before v0.16. This was changed for compatibility reasons.

If you feel strongly about borders not having highlighting, you might want to file an issue on the Monokai repository.

[2016-06-11 16:36] amoshyc commented on #42
OK. Thank you

[2016-06-11 16:54] lzkelley commented on #43
Without this package, markdown preview works fine for .rst.  Obviously they have different specifications, but with significant overlap in simple files (e.g. simple README files) --- and for many purposes they can be satisfied simultaneously (e.g. [some discussion here](https://gist.github.com/dupuy/1855764)).

[2016-06-11 16:59] Alhadis commented on #43
The only thing this package does is define syntax highlighting and snippets for reStructuredText, which are by no means invasive to the rest of the program's functionality. If there's a shortcoming to be addressed, chances are it's within the domain of the `markdown-preview` package.

[2016-06-11 17:00] Lukasa commented on #42
Thanks folks!

[2016-06-11 17:00] #42 closed

[2016-06-11 17:10] lzkelley commented on #43
Great; so what I just said.

[2016-06-11 17:10] #43 closed

[2016-06-29 15:35] mangecoeur opened #44 "Add math markup highlighting"
Similar to language-pfm, it would be nice to have math scope + highlighting in `.. math:` blocks and `:math:` inline.

[2016-06-29 16:28] Lukasa commented on #44
Agreed! I'll mark this as contributor friendly for someone to pick it up.

[2016-06-29 16:30] mangecoeur commented on #44
Incidentally once language-rst marks math blocks I can add preview support for them in my inline-preview plugin: https://atom.io/packages/preview-inline

[2016-07-21 14:34] Alhadis commented on #44
Well you nailed this, so... think we can close the book on this issue. =)

[2016-07-21 14:34] #44 closed

[2016-10-12 11:30] tardyp opened #47 "syntax highlight issues for unmatched quotes (for apostrophes)"
The following snippet tries to match a closing quote, which it is just an apostrophe.
I have no problem if I use http://www.fileformat.info/info/unicode/char/2019/index.htm but I would prefer to stick with ASCII as much as possible.

    Twisted's service implementation does not support asynchronous ``startService`` methods.

[2016-10-12 11:33] Alhadis commented on #47
Erm, I'm not sure what the issue is here... what are you seeing, exactly?

[2016-10-12 11:33] tardyp opened #48 "syntax highlight issues for backslash inside double backquote"
Following snippet is valid sphinx, but produce annoying warning highlights.

    It considers any of ``\r``, ``\n``, and ``\r\n`` to be newlines.
    Because of the ambiguity of an append operation ending in the character ``\r`` (it may be a bare ``\r`` or half of ``\r\n``), the last line of such an append operation will be buffered until the next append or flush.

[2016-10-12 11:34] Alhadis commented on #48
Can we please keep this confined to [the one issue](https://github.com/Lukasa/language-restructuredtext/issues/47)? The matters might be related, and having two separate issues makes feedback difficult.

[2016-10-12 11:34] #48 closed

[2016-10-12 11:35] Alhadis commented on #47
@tardyp Can you post some screenshots of what you're seeing? I don't see any error highlights with that text.

[2016-10-12 11:46] tardyp commented on #47
Interresting you can't reproduce..
This is for this file:
https://raw.githubusercontent.com/buildbot/buildbot/master/master/docs/developer/utils.rst

I get:
![image](https://cloud.githubusercontent.com/assets/109859/19308836/f01474e6-9081-11e6-859b-59632ac8f67e.png)

[2016-10-12 11:48] tardyp commented on #47
and for the other issue:

![image](https://cloud.githubusercontent.com/assets/109859/19308961/8644fa1c-9082-11e6-8f26-f94e95249a93.png)

[2016-10-12 11:51] Alhadis commented on #47
Ah-hah, I can see what's wrong now. There's a runaway issue in `.. py:method:: get(key, \*\*miss_fn_kwargs)`.

Fixing.

[2016-10-12 11:55] tardyp commented on #47
indeed, those two are related to the same problem (sorry for the noise)

they are triggered by this line

.. py:function:: eventually(cb, *args, \*\*kwargs)

the highlight is fixed when I switch to:

.. py:function:: eventually(cb, *args, **kwargs)

[2016-10-12 12:02] tardyp commented on #47
interrestingly, when I fixed the ```\*\*``` in this file, then the last python snippet is not highlighted anymore

[2016-10-12 12:05] Alhadis commented on #47
Are you using [MagicPython](https://github.com/MagicStack/MagicPython) by any chance?

[2016-10-12 12:09] tardyp commented on #47
I don't, but it does not change much when I install it

[2016-10-12 14:21] #47 closed

[2016-10-12 14:28] Alhadis commented on #47
Alright, I believe I've fixed it. There *is* an error with the document you linked to, but I believe that's because of an incorrect backtick:

    returned from child services` ``sta

The one that's used after `services` is what's confusing the highlighter. There's not much we can do about that without impacting the accuracy of other documents where a leading space is used inside a `link`. Since t

[2017-01-31 07:07] sitsofe opened #49 "Please add support for a few more Sphinx extensions"
(I was directed over here because Github uses TextMate-style language grammars through the linguist project (https://github.com/github/linguist/ ) and linguist points (https://github.com/github/linguist/tree/master/vendor/grammars ) to the language-restructuredtext project)

Could support for a few more Sphinx extensions be added? Over on https://gist.github.com/sitsofe/5610dafcddc5c89c8dbb9e5d3bc

[2017-01-31 07:09] Alhadis commented on #49
It'd be my pleasure. Give me a comprehensive list of what you'd like added and I'll see to it right away.

Doesn't matter if they're minor, it's good to be comprehensive.

[2017-01-31 07:19] sitsofe commented on #49
Wow - thank you!

My own selfish reasons are to have enough to render https://github.com/axboe/fio/blob/master/HOWTO and https://github.com/axboe/fio/blob/master/README on github.

For directives that would be:
[code]

For inline markup:
[code]

If you're looking for the full list beyond what I need I guess it would be http://www.sphinx-doc.org/en/stable/domains.html?highlight=option#the-standard-

[2017-01-31 07:23] Alhadis commented on #49
No problem. I'll start soon.

[2017-01-31 10:33] jessetan opened #50 "link definition may contain colon or plus sign"
The [reStructuredText Markup Specification](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#reference-names) has the following to say about reference names for links:

The highlighter currently _does not_ allow colon or plus (which the spec says is valid), but it _does_ allow spaces, parentheses and forward slash (which are invalid according to the spec).
I can understand that i

[2017-01-31 10:41] #50 closed

[2017-01-31 10:43] Alhadis commented on #49
\* <code>s/soon/once I've finished pillaging VSCode for stuff that's missing from [file-Icons](https://github.com/file-icons/atom)/i;</code>

Common typo, sorry.

[2017-01-31 18:44] Alhadis commented on #49
Wait. Are you expecting this to affect the **rendered** markup on GitHub, or just reStructuredText's syntax highlighting? It occurred to me just now you mightn't know that the two are very separate. We can control syntax highlighting, but the way GitHub renders markup is entirely up to them.

If it's the latter, you'd be better off submitting a request to GitHub support.

[2017-01-31 19:29] #49 closed

[2017-01-31 19:31] Alhadis commented on #49
Okay, yeah, after examining this closer, I realise this is what you probably meant - the highlighting for `.. option` directives looks fine in Atom, as do the other tags you mentioned.

Feel pretty silly now, heh.

[2017-01-31 21:54] sitsofe commented on #49
@Alhadis You're absolutely right - looks like I went in the wrong direction. Investigating further the raw markup to HTML conversion is done by https://github.com/github/markup using rst2html . The problem is rst2html errors on Sphinx extensions which is why the Sphinx project recommends using a `.txt` extension rather `.rst` (http://documentation-style-guide-sphinx.readthedocs.io/en/latest/style-

[2017-04-05 10:51] stadelmanma opened #52 "Highlighting breaks when inline code directive content ends in a colon"
This issue pops up when ever an in-line code directive is used that ends in a colon without a space.
The following cause issue:

    :code:`:`
    :code:`foobar:`

![image](https://cloud.githubusercontent.com/assets/16710141/24702291/1d96a06e-19cc-11e7-88cb-c52fe409e50f.png)

But this does not:

    :code:`:foobar`
    :code:`foo: bar`
    :code:`foo bar:`

![image](https://cloud.githubusercontent

[2017-04-05 10:52] Alhadis commented on #52
What's the expected behaviour for reStructuredText?

I've become rusty in my knowledge of the language, lately... sorry... :(

[2017-04-05 11:40] stadelmanma commented on #52
I believe it is should still behave like a regular inline literal.

Although, I must confess I didn't know about the double backtick literals until about an hour ago when I was picking through the grammar, which are a much better fit for my use case. Granted might still be worth a fix.

[2017-04-05 11:44] Alhadis commented on #52
It's queued on my todo list.

[2017-04-05 21:05] Alhadis commented on #52
@stadelmanma Do you mind if I include portions of [the `.rst` file you were editing](https://raw.githubusercontent.com/stadelmanma/netl-AP_MAP_FLOW/master/examples/running-the-flow-model.rst) as a spec-fixture for this package? Just to help guard against regressions...

[2017-04-06 02:30] stadelmanma commented on #52
You are more than welcome to use all the bits and pieces you need. I am currently revising my README's and examples so you might need to go back to an older commit depending on what all I change as I rework them.

[2017-04-06 02:32] Alhadis commented on #52
Ah, thank you! :) Wanted to make sure there weren't any licensing restrictions attached to my copy+pasta, heh.

I generally prefer to test using real-world examples whenever possible.

[2017-04-06 15:27] Alhadis commented on #52
Fun fact: writing grammar specs is a serious pain-in-the-arse.

It goes into overdrive when you spend half the day thinking you've concocted a clever shortcut, only to spend the other half failing to get it working. It's now 1:30 am and I'm wondering where the hell my last 24 hours went.

... fuck the specs, I'm just gonna fix these bugs and cut a release. Christ... :(

[2017-04-06 16:00] Alhadis commented on #52
I was worried this would take hours, but literally the first thing I tried fixed it.

<img src="https://cloud.githubusercontent.com/assets/2346707/24763689/76046b40-1b35-11e7-9a88-e34002bb3f62.png" width="353" alt="Figure 1" /> <img src="https://cloud.githubusercontent.com/assets/2346707/24763712/8758277e-1b35-11e7-91d3-d2e5beeb29c0.png" width="400" alt="Figure 2" />

And it was a 1-character fix.

[2017-04-06 16:00] #52 closed

[2017-04-08 13:21] Alhadis commented on #7
I added a command to resize underlines to fit their section names. Open the command palette and search for `Language Restructuredtext: Fit Borders`. That'll update the border that's currently under the cursor.

[2017-04-08 13:21] #7 closed

[2017-05-26 00:36] pkqxdd opened #53 "Live update flashing"
When I enabled live update, whenever I changed the source file, the preview panel flashes with a github symbol and "loading rst", which becomes very distractive and I had to disable the live update mode. Are there any ways to disable the loading icon or bind a keystroke to update preview? (All I can find is `rst preview: toggle`, I want something like `rst preview: update`)

[2017-05-26 00:37] Alhadis commented on #53
I think you're filing an issue to the wrong repository, dude, because I have no idea what you're talking about.

[2017-05-26 00:40] #53 closed

[2017-06-09 13:18] gamesbook opened #54 "Styling for default Atom themes"
issue #9 refers.

I am very new to Atom, but a regular rst user.  I'd appreciate if there were some way to have the same type of elements "coded" in some way across all the default Atom themes.

In particular, when you compare the normal light theme vs solarized light (which I use because its not as harsh in contrast as most of the others), you can see that styling is not the same between them; co

[2017-06-09 13:24] Lukasa commented on #54
My understanding is that this has much more to do with the Atom theme than with the language parser: the language parses identically in all cases, the two themes have chosen to highlight differently.

[2017-06-09 13:24] Alhadis commented on #54
👋 Hey mate,

Well, that has nothing to do with this package. What you've described are styling differences between different *syntax themes*. **Syntax themes** are distinct from **UI themes** in they only change the colours and formatting of the text editor's contents.

You can [read more on this subject here](http://flight-manual.atom.io/hacking-atom/sections/creating-a-theme/).

[2017-06-09 13:38] Alhadis commented on #54
Anyway, a common cause for this issue isn't just theme styling, but a language-grammar not assigning correct scope-names to matched regions of code. [The issue](https://github.com/Lukasa/language-restructuredtext/issues/9) you linked to above is probably a good example.

[I pimped the everloving hell](https://github.com/Lukasa/language-restructuredtext/pull/41) out of this package last year, thoug

[2017-06-09 13:47] gamesbook commented on #54
@Lukasa Again apologies - are you saying this needs to be patched at a theme level (a whole different area)?  In which case, I assume I need to look at the projects that created those themes are figure out how/where/why they differ?

[2017-06-09 13:48] Lukasa commented on #54
My assumption is that this is a theming problem. However, as @Alhadis notes, it is *possible* that we have failed to give scopes appropriate names. I don't think this is likely, but it is possible.

[2017-06-09 13:50] gamesbook commented on #54
@Lukasa OK, thanks. I was hoping this might be a relatively simple fix, but I have the sense that dealing with theme changes may be above my pay grade.

[2017-06-09 13:50] #54 closed

[2017-06-09 13:53] Alhadis commented on #54
@gamesbook You should consider that this is a designer issue, not an oversight on a syntax-theme author's behalf. =)

Please don't forget that your user stylesheet takes precedence over all else here. If you don't like something, chance it the way you like.

You can quickly find which bits to change by opening the developer tools, and using "Inspect Element" to inspect the properties of the offend

[2017-06-09 14:00] gamesbook commented on #54
@Alhadis Its not really a case of "I don't like something" - its more a case of an inconsistency that should not really be there.  Fixing it just for me is not helpful.

[2017-06-09 14:08] Alhadis commented on #54
I'm afraid I'm failing to see the issue then. Different elements are inevitably going to be formatted differently by different designers, and even between two different languages by the same designer.

The scopes we're using are valid, but not all of them are known by designers, either. We're using `markup.raw` as the scope-name of backticked code, but "raw markup" isn't something which too many t

[2017-06-25 14:29] pkqxdd opened #55 "Syntax highlighting for raw directive"
I noticed the rule for raw directive syntax highlighting is not right. For example, the correct way to write something in raw `html` is:

[code]

However, in atom this won't trigger the html syntax highlighting, which only happens when i write like this (without the blank line, which is incorrect):

[code]

[2017-06-25 14:30] pkqxdd commented on #55
Ironically, it seems github has the same problem

[2017-06-26 06:37] Alhadis commented on #55
There's not much we can do about this, sadly. The syntax highlighting engine currently used by Atom (as well as on GitHub) is restricted to processing one line at a time. Meaning there's no easy way to tell if the current line is the start of a `raw:: html` block, or the start of an ordinary block which follows a `raw::html` block

Well, it isn't ironic if GitHub is using this very grammar for hig

[2017-07-08 07:38] pkqxdd commented on #55
I just noticed that in atom, the syntax highlighting for `math` directive is behaving as expected. For example,

[code]

In contrast, without the math directive:
[code]

Or
[code]

All the LaTeX commands are highlighted within the math block. Even though there is one blank line following the `math` directive. So I would imagine there is a way to make `raw` directive to function similarly?

[2017-07-08 15:45] Alhadis commented on #55
Hey mate,

It's quite possible, although I'm unable to look into it at present. A PR would be warmly welcomed in the meantime, assuming I don't get around to it sooner or later. =)

[2017-10-02 18:33] gwax opened #56 "Syntax highlighting for headings"
Right now headings are not highlighted and only have the scope `text.restructuredtext`. Please add additional scopes to allow syntax highlighting: `heading.markup.restructuredtext` for all headings, and `heading-#.restructuredtext` where `#` is the pertinent numbered heading.

[2017-10-03 04:17] Alhadis commented on #56
👋 Hey @gwax,

This is impossible for two reasons, both of which relate to limitations in the syntax highlighting engine used by Atom:

1. __It's impossible for the engine to process more than one line at a time.__
This is done for speed: with every change a user makes, the document needs to be reprocessed, and being able to do this from an arbitrary location helps performance.

2. __The engine has

[2017-10-03 04:17] #56 closed

[2017-10-03 20:18] gwax commented on #56
Bummer.

Thank you @Alhadis for the very clear and detailed response to my issue.

[2017-11-26 14:27] lgarcin opened #58 "Add more snippets"
Would it be possible to add support for more snippets ? For example, it would be nice to have snippet autocompletion for directives and roles described in this [cheatsheet](http://docutils.sourceforge.net/docs/user/rst/cheatsheet.txt).

[2017-11-26 14:31] Alhadis commented on #58
We'd be welcome to a PR, mate. 👍

I'd do it myself, but things here have been quite hectic lately. 😢

[2017-11-27 17:51] lgarcin commented on #58
Ok I'll give it a try.

[2017-11-29 21:55] mshenfield commented on #58
@lgarcin Any specific ones you had in mind? I'd enjoy giving one or two a shot.

[2017-11-30 19:39] lgarcin commented on #58
@mshenfield I've  just submitted a pull request #59

[2017-12-28 05:54] lextm opened #60 "Collaboration opportunities"
I have been working on the [reStructuredText extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=lextudio.restructuredtext), and recently developing [a language server](https://github.com/lextm/restructuredtext-antlr) for it.

I just notice that Atom also supports LSP, as https://ide.atom.io indicates, so write in now to see if you have any plan developing your ow

[2017-12-29 14:20] vmassuchetto opened #61 "Highlight markups with line breaks"
Highlighting won't continue when there's a line break. See:

![captura de tela de 2017-12-30 01-49-53](https://user-images.githubusercontent.com/814115/34451133-d3d2ce24-ed03-11e7-96d9-0617b0f0b447.png)

As they produce the same output, I guess they should be marked the same on the editor.

![captura de tela de 2017-12-30 01-50-10](https://user-images.githubusercontent.com/814115/34451135-d8705942

[2018-01-17 16:07] rpuntaie opened #62 "No `firstLineMatch` pattern and modeline-detection support"
If in the first line of the current buffer there is \.\..* rst
the text should be colored according rst, even if the extension is .txt.

[2018-01-17 16:22] Alhadis commented on #62
What are talking about?

[2018-01-17 16:30] rpuntaie commented on #62
I've noticed that .txt files do not get rst colored. In vim I have a `.. vim: syntax=rst` in the first line of the file. This makes vim color properly. Maybe the same thing could be done with this package.

Since apart from .rst at least another extension (.rest) is considered restructuredText, I'm actually good. I will rename all my .txt files to .rest files. I need another extension for the incl

[2018-01-17 17:31] Alhadis commented on #62
Yes, that's a Vim modeline which tells Vim what language a file is written in. It therefore impacts the file's classification and syntax highlighting on GitHub. You can [read more on that subject here](https://github.com/github/linguist/blob/master/README.md#how-linguist-works).

I thought I did. :confused: [Turns out I hadn't](https://github.com/Lukasa/language-restructuredtext/blob/32b9912/gramm

[2018-01-18 21:51] rpuntaie commented on #62
You are right, ``.txt`` should be just plain text.  I have moved to ``.rest`` and ``.rst``.

[2018-01-19 01:37] #62 closed

[2018-03-15 16:29] #60 closed

[2018-04-15 06:10] cbarrick opened #64 "Spell checking"
Markdown documents have spell checking enabled by default. It would be great if rst documents were given the same treatment.

For now, my workaround is to switch the grammar to markdown periodically.

[2018-04-15 07:38] Alhadis commented on #64
There's a setting that controls which languages are spell-checked. Open the `spell-check` package's settings and add `text.restructuredtext` to the **Grammars** setting:

<img src="https://user-images.githubusercontent.com/2346707/38776039-a380f5a6-40d3-11e8-98c4-d8af2bf5ccb1.png" width="729" alt="Figure 1" />

[2018-04-15 07:38] #64 closed

[2018-04-15 07:54] Alhadis commented on #58
#59 was merged ages ago, so closing this.

[2018-04-15 07:54] #58 closed

[2018-04-15 15:48] kylebarron commented on #55
The `..raw:: html` directive should color fine now on master.

[2018-04-15 17:57] Alhadis commented on #55
Will cut a release shortly.

[2018-04-15 17:57] #55 closed

[2018-04-15 18:39] #61 closed

[2018-04-15 18:40] Alhadis commented on #61
Fixed.

<img src="https://i.imgur.com/c4jt321.png" alt="This is fine" />

[2018-05-27 01:54] tonyriverms opened #65 "Is possible to add some background highlight for code blocks"
Is it possible to add some background highlight to a code block like this?

<img width="780" alt="capture" src="https://user-images.githubusercontent.com/9701455/40581540-78dc4032-6129-11e8-879f-fcab3a7dbaa5.PNG">

[2019-11-15 11:44] Lennonka opened #66 "Highlight not working (possible conflict with another package)"
Hi,
highlight of rST syntax stopped working in my Atom, while e.g. completion of directives works just fine.
I guess it could be a conflict with some other community package. Could you please investigate?
I suspect one of those highlight packages (listed below).
Do you have a list of conflicting packages? Just an idea... :)

Atom version: 1.40.1
Community packages installed: badges, busy-signal, h

[2019-12-09 18:50] JungHoonJung opened #67 "Snippet `content` has unspacing."
`content` snippet like below :

..content:: title
<tab>:depth: 2

there is no spacing between double dot and directive 'content'.

[2020-06-25 12:15] kalimbra opened #68 "Text under heading displayed in blue ?"
For some times now the text just under an header is displayed in blue color. Is this intentional ?  Seems it didn't do that in the past . Not a big issue, but hinder a little the readability of the page.

![Capture d’écran_2020-06-25_14-13-34](https://user-images.githubusercontent.com/7127212/85717880-4091f380-b6ee-11ea-92c3-4f9c720e081e.png)

[2021-04-01 21:14] timotheecour opened #69 "rst not recognized as rst when headings skip a level"
not sure whether it's the right place to file this but looks like this repo is what's used to highlight rst in GitHub, I've also filled this in https://github.com/github/markup/issues/1446

this won't render as rst:

[code]

this will:

[code]

See github/markup#1446 for details.

[2021-05-26 16:47] dreamalligator opened #70 "linter-rst: unexpected error"
Hi! It appears as if the tree parsing works fine for the Atom plugin, but we are getting the following warning. I assume this just means that this dependency needs to be included in this project.

![warning](https://user-images.githubusercontent.com/2218331/119699803-63012500-be07-11eb-9feb-5ada968bf633.png)

https://github.com/albertvisser/Rst2HTML/

[2021-12-14 10:44] andy-maier opened #71 "Use of "<<" permanently turns on monospaced highlighting"
Consider the following example .rst file:

[code]

Atom when using this package highlights this incorrectly. Anything after the `<<` gets highlighted in green (same as text in double backquotes). Usage of double backquotes after that does not reset this highlighting.

Screen shot how the above file is highlighted:

<img width="316" alt="Screenshot 2021-12-14 at 11 40 46" src="https://user-images.g

[2022-08-02 07:24] Alhadis commented on #71
👋 Hey mate, sorry for the slow response.

This is actually the fault of Atom's shell-script grammar: specifically, the rules responsible for matching here-docs. A ~~workaround~~ _hack_ is to use `..` as a here-doc delimiter instead of `EOT`:

[code]

This works because `..` [introduces a comment](https://docutils.sourceforge.io/docs/ref/rst/restructuredtext.html#comments) in reStructuredText, whil

[2022-08-02 07:24] #71 closed

[2022-08-02 07:37] Alhadis commented on #70
👋 Hey mate,

Sorry for the slow response. This package only provides syntax highlighting and snippets for reStructuredText, I'm afraid. From the looks of it, this issue should've been submitted to the [`linter-rst`](https://github.com/AtomLinter/linter-rst) package instead.

Hope that helps! Gonna close this, as there's really nothing we can do on our end.

[2022-08-02 07:37] #70 closed

[2022-08-02 07:52] #69 closed

[2022-08-02 07:58] Alhadis commented on #68
That's just the colour applied by your syntax theme. You can tweak it using [your stylesheet](https://flight-manual.atom.io/using-atom/sections/basic-customization/#style-tweaks):

[code]

[2022-08-02 08:02] #67 closed

[2022-08-02 08:03] Alhadis commented on #67
Shit, good catch.

Fixed in 0edba76.

[2022-08-02 08:09] Alhadis commented on #66
None of those packages appear to have conflicts with this one. 🤔 All that `language-restructuredtext` really does is provide syntax highlighting and snippets for reStructuredText files; it doesn't have anything fancy like code completion, linting, etc.

When you say the highlighting has "stopped working", what are you seeing, exactly? Could you provide a screenshot?

[2022-08-02 12:55] Alhadis commented on #65
I'd like to say _“you can use your [stylesheet](https://flight-manual.atom.io/using-atom/sections/basic-customization/#style-tweaks)”_, but it turns out that adding a background colour to certain lines in Atom is more complicated than simply dropping this into your stylesheet:

[code]

Unless you're happy with the effect looking like this:

<img src="https://user-images.githubusercontent.com/23467